body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #121212;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #1e1e1e;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    color: #00ff00;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

header {
    margin-bottom: 20px;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card h2 {
    margin: 0 0 10px;
    color: #00ff00;
}

.card p,
.card small {
    margin: 5px 0;
  color:  #ccc;
}
