/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: none;
}

input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: whitesmoke;
    
}

input::placeholder {
    color: #888;
}

.forgot-password {
    align-self: flex-end;
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: #fff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 0.8rem;
    background-color: #00b200;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #009900;
}

.register-text {
    margin-top: 2rem;
    font-size: 0.9rem;
}

.register-link {
    color: #00b200;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}